/* General container styling */
.container {
  margin: 0 auto;
}

/* Contact Form Styling */
.cf {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact Message Styling */
.contact-message {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Contact Info Styling */
#contact-info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  #contact-info .row {
    flex-direction: column;
  }
  .contact-message {
    margin-top: 20px;
  }
}

/* Button Styling */
.buton {
  width: 80%;
  margin-top: 10px;
}

/* Terms and Conditions Card Styling */
.terms-card {
  background-color: rgba(219, 218, 219, 0.9); /* Faded button color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Header and Paragraph Styling within the Cards */
.terms-card h4 {
  margin-bottom: 15px;
}

.terms-card p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px; /* Add some space between paragraphs */
}

/* Line spacing between paragraphs */
.br-space {
  margin-top: 10px;
}
h2{
  text-align: center;
}
body.dark-mode .terms-card{
  background-color: rgba(122, 28, 172, 0.486);
}
.la{
  margin: 0%;
}