
.FavouritesList {
  padding: 20px;
  background-color: #fff; 
  color: #000;
}


body.dark-mode .FavouritesList {
  background-color: #1e1e1e; 
  color: #f8f9fa; 
}

.FavouritesList h1 {
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  font-size: 2rem;
  color: inherit; 
}


body.dark-mode .FavouritesList h1 {
  color: #f8f9fa; 
}

.FavouritesList ul {
  list-style: none;
  padding: 0;
}


.FavouritesList li {
  margin: 10px 0;
}


.nav-link {
  text-decoration: none;
  color: #000; 
}


body.dark-mode .nav-link {
  color: #f8f9fa; 
}


.nav-link.active {
  font-weight: bold; 
}


body.dark-mode .nav-link.active {
  color: #bb86fc; 
}


.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}


.result-item {
  background-color: #f8f9fa; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


body.dark-mode .result-item {
  background-color: #2c2c2c; 
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); }

.result-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}


body.dark-mode .result-item:hover {
  box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.2);
}

.price {
  font-weight: bold;
  color: #000;
}


body.dark-mode .price {
  color: #bb86fc;}
