
.product-image {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.7);
}

body.dark-mode .product-image {
  box-shadow: 0 6px 10px -1px rgba(255, 255, 255, 0.2);
}

/* Product details container */
.product-details {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}


.quantity-controls {
  text-align: center;
  justify-content: center;
}


.pddesc {
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.cont {
  width: 100%;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.7);
}


body.dark-mode .cont {
  background-color: #333;
  box-shadow: 0 6px 10px -1px rgba(255, 255, 255, 0.2);
}


.btp {
  margin: 0 10%;
  color: white;
  justify-content: center;
  background-color: #7A1CAC;
  border-color: #7A1CAC;
}


body.dark-mode .btp {
  background-color: #9c27b0;
  border-color: #9c27b0;
}

.btp:hover {
  color: white;
  background-color: #5e1289;
  border-color: #5e1289;
}

body.dark-mode .btp:hover {
  color: white;
  background-color: #5e1289;
  border-color: #5e1289;
}


.pdalign {
  margin: 10px;
  text-align: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .cont {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    padding: 20px 40px;
  }

  .pdalign {
    text-align: left;
    margin-right: 20px;
  }

  .pddesc {
    width: 100%;
    justify-content: center;
    padding: 0 20px;
    flex-grow: 1;
  }

  .product-image {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .cont {
    max-width: 1000px;
  }

  .pddesc {
    padding: 0 40px;
  }
}


p {
  justify-content: center;
  width: 100%;
}


.bti {
  color: #7A1CAC;
  border: 1px solid #7A1CAC;
}


body.dark-mode .bti {
  color: #9c27b0;
  border: 1px solid #9c27b0;
}

.bti:hover {
  color: white;
  background-color: #9129c9;
}

body.dark-mode .bti:hover {
  color: white;
  background-color: #812a91;
}

body.dark-mode .quantity {
  color: white;
}
