/* Default light mode styles */
body {
  background-color: beige;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Navbar styles in dark mode */
body.dark-mode .navbar {
  background-color: #333333;
  border-bottom: 1px solid #444444;
}

/* Link styles in dark mode */
body.dark-mode a {
  color: #bb86fc;
}

/* Card styles in dark mode */
body.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
}

/* Form control styles in dark mode */
body.dark-mode .form-control {
  background-color: #504f4f;
  color: #ffffff;
  border: 1px solid #444444;
}

/* Button styles in dark mode */
body.dark-mode .btn-outline-success {
  color: #bb86fc;
  border-color: #bb86fc;
}

body.dark-mode .btn-outline-success:hover {
  background-color: #bb86fc;
  color: #fcfafa;
}

/* Placeholder text color in dark mode */
body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #cccccc; /* Adjusted for better readability */
  opacity: 1; /* Ensure full opacity for placeholder text */
}
