/* Default light mode styles */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background-color: white;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Navbar styles in dark mode */
body.dark-mode .navbar {
  background-color: #333333;
  border-bottom: 1px solid #444444;
}

/* Link styles in dark mode */
body.dark-mode a {
  color: #bb86fc;
}

/* Card styles in dark mode */
body.dark-mode .card {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
}

/* Form control styles in dark mode */
body.dark-mode .form-control {
  background-color: #504f4f;
  color: #ffffff;
  border: 1px solid #444444;
}

/* Button styles in dark mode */
body.dark-mode .btn-outline-success {
  color: #bb86fc;
  border-color: #bb86fc;
}

body.dark-mode .btn-outline-success:hover {
  background-color: #bb86fc;
  color: #fcfafa;
}

/* Placeholder text color in dark mode */
body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #cccccc; /* Adjusted for better readability */
  opacity: 1; /* Ensure full opacity for placeholder text */
}

.container.dark-mode{
  background-color: #1e1e1e;
}






/* Additional global styles if needed */
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Rubik', sans-serif;
}
